.cardContainer{
   max-width: 482px; 
    border: 1px solid white;
    border-radius: 15px;
    padding: 32px;
    background-color: white;
    box-shadow: 0px 18px 14px hsla(0, 0%, 50%, 0.5);
    overflow: hidden;
}
.cardHeading{
    font-size: 25px;
    line-height: 35px;
}
.dateBorder{
    border-right: 1px solid #023859;
}