.carouselSlideDiv {
  width: 100%;

  flex-shrink: 0;
  border-radius: 32px;
  border: 2px solid #fff;
  background: #5fa4bd;
  position: relative;
  padding: 30px 50px;
  color: #fff;
  display: flex;
  align-items: center;
}
.carouselSlideInfoDiv {
  flex-basis: 60%;
  font-weight: 500;
  padding-right: 20px;

  padding: 20px;
}
.carouselSlideInfoDiv p {
  text-align: left;
  font-size: 22px;
}
.carouselSlideImgDiv {
  flex-basis: 40%;
}
.carouselSlideInfoDiv h2 {
  text-align: left;

  font-size: 36px;
}
.carouselSlideInfoDivAchievement {
  margin-bottom: 30px;
  font-size: 26px;
}
